.header__list>* a:hover, #markdown a:hover {
    color: $hover_color;
}

[class*=" fa-"]:hover, [class^=fa-]:hover {
    color: rgba($color: white, $alpha: .5)
}

.active {
    color: rgba($color: $active_link, $alpha: .8) !important;
}




