// The latest settings can be found here:
// https://github.com/zurb/bower-foundation/blob/master/scss/foundation/_settings.scss
$XXS: 480px;
$XS: 641px;
$S: 789px;
$M: 1025px;
$L: 1441px;
$XL: 1920px;

// http://foundation.zurb.com/docs/media-queries.html
$fixed-width: false !default;
$fixed-height: false !default;
$screen: 'only print, screen';

// for the reviews collection page
// layouts/reviews
$grid_gap-column: 30px;
$grid_review-row: 250px; 

//hover a link
$active_link: #93032E;
$hover_color: rgba(0,0,0, .7);