// The latest settings can be found here:
// https://github.com/zurb/bower-foundation/blob/master/scss/foundation/_settings.scss
$XXS: 480px;
$XS: 641px;
$S: 789px;
$M: 1025px;
$L: 1441px;
$XL: 1920px;

// http://foundation.zurb.com/docs/media-queries.html
$fixed-width: false !default;
$fixed-height: false !default;
$screen: 'only print, screen';