---
layout: default
---
<div class="post book">
  <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="post__header section-padding--double">
      <div class="grid-small">
        <h2 itemprop="name headline">{{ page.title }}</h2>
        <p>{{ page.description }}</p>
        <time class="post__date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%-d %b %Y" }}</time>
      </div>
    </div>

    {% if page.image %}
      <div class="post__img">
        <div>
          <figure class="absolute-bg" style="background-image: url('{{ page.image }}');"></figure>
        </div>
      </div>
    {% endif %}

    <div class="post__content section-padding">
      <div class="grid">
        <div id="markdown" itemprop="articleBody">
          <div class="section-padding">
            <div id="subcontentDirection" class="section__subcontent">
              <div id="ingredients" class="post__list">
                <h2 class="ingredients__headline headline">Ingredients</h2>
                <ul class="list_spacing">
                    {% for ingredient in page.ingredients %}
                    <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
              </div>
    
              <div id="times" class="post__list time">
                  <h2 class="time__headline headline">Time</h2>
                  <div class="time__detail list_spacing">
                    <p class="subheadline">Prepartion:</p>
                    <p>{{ page.prepartion_time }}</p>
                    <p class="subheadline">Cooking:</p>
                    <p>{{ page.cooking_time }}</p>
                  </div>
              </div>
    
              <div id="steps" class="post__list steps">
                  <h2 class="step__headline headline">Steps:</h2>
                <ul class="list_spacing">
                    {% for step in page.steps %}
                    <li>{{ step }}</li>
                    {% endfor %}
                </ul>
              </div>
    
              {% if page.easier_way %}
              <div id="easyway" class="post__list steps">
                  <h2 class="step__headline headline">Easier Way</h2>
                  <p>If you feel the traditional cooking method for this recipe is absolutely too complicated.
                    No worry! Here is the easier way:
                  </p>
                  <ul class="list_spacing">
                      {% for easystep in page.easier_steps %}
                      <li>{{ easystep }}</li>
                      {% endfor %}
                  </ul>
              </div>
              {% endif %}
    
              <div id="tips" class="post__list tips">
                <h2 class="tip__headline headline">Tips</h2>
                <ul class="list_spacing">
                    {% for tip in page.tips %}
                    <li>{{ tip }}</li>
                    {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          {{ page.content }}
        </div>

        {% include share.html %}
      </div>
    </div>

    <!-- Everything inside the #author tags pulls data from the author -->
    {% if page.author %}
      <div class="section-padding--none">
        <div class="grid">
          <hr class="sep"/>
        </div>
      </div>

      <div class="section-padding">
        <div class="grid-small">
          {% for author in site.author %}
            <span class="post__author">Posted by {% if author["name"] == page.author and author["url"] %}<a href="{{ author['url'] }}" title="More By {{ page.author }}">{% endif %}{{ page.author }}{% if author["name"] == page.author and author["url"] %}</a>{% endif %}</span>
            {% if author["name"] == page.author %}
              <p class="post__bio">{{ author["bio"] }}</p>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% include disqus.html %}
    
  </article>
</div>

<!-- Links to Previous/Next posts -->
{% assign relatedTag = page.tags | first %}
{% if relatedTag %}
  <section class="related section-padding">
    <div class="grid-xlarge">
      <h2 class="related__title">Related</h2>
      <div class="related__container">
        {% for post in site.tags[relatedTag] limit: 3 %}
          <article class="related__post">
            <a class="related__link" href="{{ post.url | absolute_url }}">
              {% if post.image %}
                <figure class="related__img">
                  <img src="{{ post.image }}" alt="{{ post.title }}"/>
                </figure>
              {% endif %}
              <div>
                <h2 class="related__text">{{ post.title }}</h2>
              </div>
            </a>
          </article>
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
