---
layout: default
layout: reviews-collection
title: Food Review
permalink: /foodreview
---

<!DOCTYPE html>
<html lang="en">
<head>

  {% include head.html %}

</head>
<body id="{% if page.title %}{{ page.title | slugify }}{% else %}home{% endif %}" class="{{ page.layout | downcase }}-layout">
  
  {% include header.html %}

  <main class="codeandcook">

        {% for review in paginator.reviews %}

        <!-- The tag below includes the markup for each post - partials/post-card.html -->
        {% include review-card.html %}

      {% endfor %}
    
  </main>

</body>
</html>
